@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    color: #fff;
    font-family: gilroy;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 8vw;
}


#page1 h1 {
    font-size: 9.9vw;
    font-weight: bolder;
}

#page1 svg {
    width: 7vw;
    height: 7vw;
    background-color: #0DA34E;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(7%);
}

#page1 .border {
    border: 3px solid #424242;
    border-radius: 22px;
    padding: 4px 10px;
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #111;
}