* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: gilroy;
}

nav {
    position: fixed;
    background-color: #111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2vw 10.4vw;
    z-index: 9;
}

nav h1 {
    letter-spacing: 2px;
    font-size: 1.7vw;
    font-family: 'poppins';
}

#nav-part2 {
    display: flex;
    gap: 25.9px;
}

#nav-part2 h4 {
    font-size: 0.867vw;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

#nav-part2 h4:hover {
    color: #424242;
}

/* .Lets-Talks {
    color: #fff;
    border: 1px solid #0DA34E;
    cursor: pointer;
    background-color: #0DA34E;
    border-radius: 100px;
    font-size: 14px;
    padding: 20px 40px;
} */

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #111111;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 8vw;
}


#page1 h1 {
    font-size: 9.9vw;
    font-weight: bolder;
    color: #fff;
}

#page1 svg {
    width: 7vw;
    height: 7vw;
    background-color: #0DA34E;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(7%);
}

#page1 p {
    margin-top: 50px;
    letter-spacing: -0.8px;
    line-height: 1.3;
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
}

.flexible_items {
    display: flex;
    width: 700px;
    height: auto;
    margin: -44px 0 0 0;
    justify-content: center;
}

.flexible_items p span {
    border: 1px solid #636363;
    border-radius: 22px;
    font-size: 15px;
    font-family: 'neue-haas-grotesk-display' 'sans-serif';
    padding: 5px 7px;
    letter-spacing: 3;
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #111;
}