* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    color: #fff;
    font-family: gilroy;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #111111;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 8vw;
}


#page1 h1 {
    font-size: 9.9vw;
    font-weight: bolder;
}

#page1 svg {
    width: 7vw;
    height: 7vw;
    background-color: #0DA34E;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(7%);
}

#page1 p {
    margin-top: 50px;
    letter-spacing: -0.8px;
    line-height: 1.3;
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
}

.flexible_items {
    display: flex;
    width: 700px;
    height: auto;
    margin: -44px 0 0 0;
    justify-content: center;
}

.flexible_items p span {
    border: 1px solid #636363;
    border-radius: 22px;
    font-size: 15px;
    font-family: 'neue-haas-grotesk-display' 'sans-serif';
    padding: 5px 7px;
    letter-spacing: 3;
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #111;
}